<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="globalPackagesFolder" />
  </config>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Private Source" value="PrivatePackages" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- the default source -->
    <packageSource key="nuget.org">
      <!-- matches all package ids -->
      <package pattern="*" />
    </packageSource>
    <packageSource key="Private Source">
      <!-- the closest/longest pattern takes precedence -->
      <package pattern="Newtonsoft.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
